<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<!--<div>
		<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high" width="1280" height="720" align="middle"
		allowScriptAccess="always" flashvars="uu=fcba45089f&vu=b319295f22&pu=1b2224dcef&auto_play=1&gpcflag=1&width=1280&height=720"
		type="application/x-shockwave-flash"></embed>
	</div>-->
	<button id="play1">播放1</button>
	<button id="play2">播放2</button>
	<div id ="haha">视频1</div>
	<div id ="hehe">视频2</div>
	<script src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/bcloud.js"></script>
</body>

<!--<script type="text/javascript">
	var letvcloud_player_conf = {"uu":"fcba45089f","vu":"94af50eb5c","pu":"","auto_play":"0","width":640,"height":480};
</script>
<script type="text/javascript" src="http://yuntv.letv.com/bcloud.js"></script>-->

</html>